.card {
    position: relative;
    height: 600px;
    margin: 0px, 10
    a {
            position: absolute;
            bottom: 20px;
            text-align: center;
            min-height: 96px;
            left: 0px;
        }
}